<div class="card" id="stock_history_card">
    <div class="input-group" style="z-index:0">
        <input type="text" class="form-control-b" id="search_products" placeholder="Search Products">
        <div class="input-group-addon search" id="search_link"><img src="img/search.png" alt="Search Products"></div>
    </div>
   <div id="error_space_admin" class="error" ></div>
    <hr/>
    <div class="form-group">
        <label for="report_type">Report Type</label>
        <select id="report_type" class="form-control-b">
            <option value="stock_history">Stock</option>
            <option value="commission_history">Commission</option>
            <option value="tax_history">Tax</option>
            <option value="supplier_history">Supplier</option>
        </select>

        <label for="stock_select_users">Username</label>
        <select id="stock_select_users" class="form-control-b">
            <option value="all">All</option>
        </select>
        
        <label for="product_categories">Product Categories</label>
        <select id="product_categories" class="form-control-b">
            <option value="all">All</option>
        </select>
        
        <div id="stock_select_suppliers_div" style="display: none">
        <label for='stock_select_suppliers'>Suppliers</label>
        <select id='stock_select_suppliers' class="form-control-b">
            <option value='all'>All</option>
        </select>
        </div>
        <label for="start_date">Start Date</label>
        <div class="input-group" style="width: 100%">
            <input type="date" class="form-control-b" id="start_date" readonly="readonly">
            <select id='start_time'></select>
        </div>
        
        <label for="end_date">End Date</label>
        <div class="input-group" style="width: 100%">
            <input type="date" class="form-control-b" id="end_date" readonly="readonly">
            <select id='stop_time'></select>
        </div>
    </div>
</div>